/*!
* ticker
* Copyright © 2011
* http://www.jquerynewsticker.com/
*/
	/* Ticker Styling */
.ticker-wrapper.has-js {
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	font-size: 0.75em;
}
.ticker {
	width: 86.3%;
	height: 23px;
	display: block;
	position: relative;
	overflow: hidden;
	margin-left: 18px;
}
.ticker:before {
	content: '';
	border-left: #383838 solid 1px;
	transform: rotate(24deg);
	position: absolute;
	top: 7px;
	left: 5px;
	width: 10px;
	height: 13px;
}
.ticker:after {
	content: '';
	border-left: #000 solid 1px;
	transform: rotate(23deg);
	position: absolute;
	width: 10px;
	height: 13px;
	top: 7px;
	right: 5px;
}
.ticker-title {
	padding-top: 9px;
	color: #990000;
	font-weight: bold;
	background-color: #f8f0db;
	text-transform: uppercase;
}
.ticker-content {
	margin: 0px;
	padding-top: 5px;
	position: absolute;
	color: #e9e7e8;
	overflow: hidden;
	white-space: nowrap;
	line-height: 1.2em;
}
.ticker-content:focus {
	none;
}
.ticker-content a {
	text-decoration: none;	
	font-size: 14px;
	font-family: 'Raleway', sans-serif;	
	color: #1a1a1a;
	font-weight: 500;
}
.ticker-content a:hover {
	color: #f15c22;
}
.ticker-swipe {
	padding-top: 9px;
	position: absolute;
	top: 0px;
	background: #ffffff;

	display: block;
	width: 80%;
    height: 42px;
}
.ticker-swipe span {
	margin-left: 1px;
	border-bottom: 1px solid #020202;
	height: 12px;
	width: 7px;
	display: block;
}
.ticker-controls {
	list-style-type: none;
	float: left;
}
.ticker-controls li {
	padding: 0px;
	margin-left: 5px;
	float: left;
	cursor: pointer;
	height: 16px;
	width: 16px;
	display: block;
}
.ticker-controls li.jnt-play-pause {
	background-position: 32px 16px;
}
.ticker-controls li.jnt-play-pause.over {
	background-position: 32px 32px;
}
.ticker-controls li.jnt-play-pause.down {
	background-position: 32px 0px;
}
.ticker-controls li.jnt-play-pause.paused {
	background-position: 48px 16px;
}
.ticker-controls li.jnt-play-pause.paused.over {
	background-position: 48px 32px;
}
.ticker-controls li.jnt-play-pause.paused.down {
	background-position: 48px 0px;
}
.ticker-controls li.jnt-prev {
	background-position: 0px 16px;		
}
.ticker-controls li.jnt-prev.over {
	background-position: 0px 32px;		
}
.ticker-controls li.jnt-prev.down {
	background-position: 0px 0px;		
}
.ticker-controls li.jnt-next {	
	background-position: 16px 16px;	
}
.ticker-controls li.jnt-next.over {
	background-position: 16px 32px;	
}
.ticker-controls li.jnt-next.down {	
	background-position: 16px 0px;	
}
.js-hidden {
	display: none;
}
.no-js-news {
	padding: 10px 0px 0px 45px; 
	color: #F8F0DB;
}
.left .ticker-swipe {
	/*left: 80px;*/
}
.left .ticker-controls, .left .ticker-content, .left .ticker-title, .left .ticker {
    float: left;
}
.left .ticker-controls {
    padding-left: 0px;
    height: 0;
}
.right .ticker-swipe {
	/*right: 80px;*/
}
.right .ticker-controls, .right .ticker-content, .right .ticker-title, .right .ticker {
    float: right;
}
.right .ticker-controls {
    padding-right: 0px;
}